$container: 1200px;

$breakPoint1400: 1339.98px;
$desktop1025: 1024.98px;
$laptop992: 991.98px;
$laptop768: 767.98px;
$tablet580: 579.98px;
$tablet482: 481.98px;

$primary: white;
$secondary: green;


$borderRadius: 10px;
