$container: 1200px;

$breakPoint1400: 1339.98px;
$desktop1025: 1024.98px;
$laptop992: 991.98px;
$laptop768: 767.98px;
$tablet580: 579.98px;
$tablet482: 481.98px;

$primary: white;
$secondary: green;
$primaryBlue: rgba(1, 0, 53, 0.7);


$borderRadius: 10px;
$cyan: #0505A9;
$dark: #FFFFFF;
$borderW: 2px;